#
# PhysX 4
#

vcpkg_installed/
vcpkg.*.nupkg
--*/
externals/vcpkg/
Folder.DotSettings*

##
#
#

.pnp.cjs
.yarn/

#
# Intermediate
#

**/*.egg-info/

out/
physx/bin/
physx/compiler/vc*/
physx/compiler/linux-*/
physx/include/PxConfig.h
build/
build_x64/
.build/
dist/
.ruff_cache/
.venv/
.mypy_cache/

node_modules/
package-lock.json

#
# Visual Studio
#

.vs/

*.tlog
*.pdb
*.lib
*.lastbuildstate
*.obj
*.lib.recipe
*.log
*.vcxproj.user

cmake-build-*/

#
# SonarCloud
#

.scannerwork/
build_wrapper_output_directory/
/build*/
build-wrapper*.exe
build-wrapper-dump.json

#
# ...
#

ALL_BUILD.*
physx/compiler/**/*.vcxproj
ZERO_CHECK/
/*.sln
/*.vcxproj
/*.vcxproj.filters
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles/
generate.stamp
generate.stamp.depend

#
#
#

/.env
